= simple_form_for(@admission) do |f|
    .form-inputs
        = f.association :resident, :label_method => :fullname, :value_method => :id
        = f.input :active
        = f.input :admissionDate
        = f.input :admissionStatus
        = f.association :bed, :label_method => :bedfullname, :value_method => :id
        = f.input :blackout
        = f.input :blackoutDate
        /= f.input :closeDate
        = f.input :closeDate, :include_blank => true
        = f.input :closeReason
        = f.input :locker
        = f.input :module
        = f.association :program
        = f.input :referralSource
        = f.input :referralReason
    .form-actions
        = f.button :submit