- admissions.each do |admission|
	%p Program: #{admission.program}
	%p Active: #{admission.active} Blackout: #{admission.blackout}
	%p Admission Date: #{admission.admissionDate}
	%p Bed: #{admission.bed.bedLocation} #{admission.bed.bedNumber}
	%p Closedate: #{admission.closeDate} ~ #{admission.closeReason}